
* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;

}

.header-links {
    display: flex;
    gap: 25px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

a {
    text-decoration: none;
}

.link-text,
.secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 150px 200px;
}

.hero .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.image {
    max-height: 350px;
   width: 40vw;
}

.content {
    display: flex;

}

.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 10px 30px;
}

.info-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding: 50px;
}



.info-img img{
    width: 200px;
    border-radius: 25px;
    border: 5px solid #3882f6;
}

.quote-section {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    /* light italic */
}


.footer {
    color: #e5e7eb;
    background-color: #1f2937;
}










